<%- include("./head") %>
<div>
  <div>Members Only</div>
  <div>
    <a href="/">Go to home</a>

    <a href="/users/log-in">Log-In</a>

    <a href="/users/sign-up">Sign-Up</a>

    <a href="/dashboard">Dashboard</a>

    <a href="/messages">Messages</a>
  </div>
</div>
