<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <p><%= user.name %></p>
    <p>Admin status: <%= user.is_admin ? "Admin" : "Not an Admin" %></p>

    <% if (!user.is_admin) { %>
    <form method="POST">
      <label for="admin_code">Input secret code to be an Admin: </label>
      <input name="admin_code" placeholder="admin code" type="text" required />
      <button type="submit">Submit</button>
    </form>
    <% } %>
    <p><a href="/">Go back to Home</a></p>

    <!--  Display validation errors. -->
    <% if (typeof errors !== 'undefined') { %>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
