<%- include("../partials/head") %> <%- include("../partials/header") %>

<h1>Welcome to Members Only app</h1>
<p>
  You can view all the messages if you go to
  <a href="/messages">messages link</a>
</p>
<p>
  To create a message you have to
  <a href="/users/sign-up">Create an account</a> and
  <a href="/users/log-in">Log In</a>
</p>
<p>
  You will not be able to view the author and date of each message. As by
  default your membership status is set to false.
</p>
<p>
  You have to check the membership checkbox from your
  <a href="/dashboard">dashboard</a> to become a member. After this you will be
  able to view the author and date of each message.
</p>
<p>
  Also you can be an Admin from your <a href="/dashboard">dashboard</a> and
  delete messages.
</p>
