<%- include("../partials/head") %>

<div>
  <h1>Sign up:</h1>
  <form method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" id="first_name" required />
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" id="first_name" required />
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <label for="confirm-password">Confirm Password:</label>
    <input
      type="password"
      name="confirm-password"
      id="confirm-password"
      required
    />
    <button>Sign-up</button>
  </form>

  <p><a href="/users/log-in">Already an user? Log-in.</a></p>
</div>
